#!/usr/bin/env python
# -*- coding: utf-8 -*-

print("Welcome to the bookstore 📚")

from bookstore import BookstoreContentsArchiver

c = get_config()

c.NotebookApp.contents_manager_class = BookstoreContentsArchiver
