#!/usr/bin/env python
# -*- coding: utf-8 -*-

print("Welcome to the bookstore 📚")

from bookstore import BookstoreContentsArchiver
from bookstore.bookstore_config import BookstoreS3Settings

c = get_config()

c.NotebookApp.contents_manager_class = BookstoreContentsArchiver


c.Bookstore.workspace_prefix = "/workspace/kylek/notebooks"
c.Bookstore.published_prefix = "/published/kylek/notebooks"

# c.Bookstore.storage_class = BookstoreS3Settings
# or 
c.Bookstore.storage_class = "bookstore.bookstore_config.BookstoreS3Settings"

c.BookstoreS3Settings.bucket = "<bucket-name>"

# Note: if bookstore is used from an EC2 instance with the right IAM role, you don't
# have to specify these
c.BookstoreS3Settings.access_key_id = "mykey" #<AWS Access Key ID / IAM Access Key ID>
c.BookstoreS3Settings.secret_access_key = "anotherkey"# <AWS Secret Access Key / IAM Secret Access Key>
