recursive-include depository *.py
recursive-include depository *.ipynb
recursive-include depository *.json
recursive-include depository *.yaml
recursive-include depository *.keep
recursive-include depository *.txt

include setup.py
include requirements.txt
include requirements-dev.txt
include README.rst
include LICENSE
include MANIFEST.in
include *.md
include *.toml

include versioneer.py
include depository/_version.py
include .coveragerc

# Documentation
graft docs
# exclude build files
prune docs/_build
# exclude sample notebooks for binder
prune binder/
# Scripts
graft scripts