recursive-include bookstore *.py
recursive-include bookstore *.ipynb
recursive-include bookstore *.json
recursive-include bookstore *.yaml
recursive-include bookstore *.keep
recursive-include bookstore *.txt

include setup.py
include requirements*.txt
include tox.ini
include pytest.ini
include README.md
include LICENSE
include MANIFEST.in
include *.md
include *.toml

include bookstore/_version.py
include bookstore/clone.html

# Documentation
graft docs
# exclude build files
prune docs/_build
# Scripts
graft scripts
# Test env
prune .tox